@import "commonMixins.less";

@xxsmall : ~'max-width: 377px';
@xsmall : ~'max-width: 480px';
@small: ~'max-width: 600px';
@xmedium: ~'max-width: 768px';
@medium: ~'max-width: 992px';
@large: ~'min-width: 992px';

.hpmNav {
  .transition(all .3s);
  * {
    .transition(all .3s);
  }
}

.container{
  position: relative;
}

body {
  &.scrolled {
    nav#navTop {
      height: 50px;
      form.headerSearchForm {
        height: 50px;
        display: block;
        .input-field {
          height: 50px;
          line-height: 50px;
          margin-top: 0;
          i {
            line-height: 50px;
            height: 50px;
          }
          input {
            height: 40px;
            line-height: 40px;
            margin-top: 5px;
          }
        }
      }
    }
  }
}

nav#navTop {
  height: 90px;
  position: fixed;
  z-index: 998;
  overflow: hidden;
  background-color: #fff;
  color: #795548;
  .nav-wrapper {
    overflow: hidden;
  }
  .hpmHeaderWrap {
    width: calc(~"100% - 45px")
  }
}

.headerSearchForm {
  position: absolute;
  height: 90px;
  background-color: #fff;
  overflow: hidden;
  z-index: 10;
  display: block;
  right: 25px;
  width: 45px;
  .transition(width .5s);
  .input-field {
    margin-top:15px;
    i {
      cursor: pointer;
      color: #795548;
    }
    input {
      width: 0;
      margin-bottom: 0;
      padding-left: 0;
      .transition(none);
    }
  }
  &.active {
    right: 0;
    width: 100%;
    input {
      width: calc(~"100% - 45px");
    }
  }
  @media (@medium) {
    right: 0;
  }
}
